html{background:#fff url(../images/back.jpg) 50% 0 no-repeat fixed;font-family:Helvetica,Verdana,Helvetica,Arial;font-size:13px;text-align:justify;line-height:150%;}

a img{border:none;}
a{color:#7E8182;-webkit-transition:color 300ms ease-out 200ms;-moz-transition:color 300ms ease-out 200ms;-o-transition:color 300ms ease-out 200ms;transition:color 300ms ease-out 200ms;}
a:hover{color:#000;-webkit-transition:color 300ms ease-in 200ms;-moz-transition:color 300ms ease-in 200ms;-o-transition:color 300ms ease-in 200ms;transition:color 300ms ease-in 200ms;}

h1, h2, h3, h4, h5, h6{  /*font-family: Garamond, Georgia, Times, "Times New Roman", serif;*/ }

h1{font-size: 30px;}
h2{font-size: 24px;}
h3{font-size: 20px;}
h4{font-size: 18px;}
h5{font-size: 16px;}
h6{font-size: 14px;}

.invisible{display:none;}
.clear{clear:both;height:0;overflow:hidden;}
img{padding:5px;}

#container{width:645px;margin:5px auto 0;padding:20px 40px;}
#header{width:645px;position:relative;z-index:70;margin:0 auto;}

#tree{text-align:center;padding:5px 0 4px;}
#tree li.menu_item{display:inline-block;line-height:20px;font-size:20px;font-weight:700;position:relative;padding:15px;}
#tree a{color:#3C3F40;font-weight:400;font-size:15px;text-decoration:none;}
#tree a.active{color:#DAAC42;}
#tree a:hover{color:#B1B6B7;text-decoration:none;}
li .children{display:none;width:300px;position:absolute;top:50px;left:0;border:1px solid #EEF1EF;background:none;-moz-box-shadow:rgba(0,0,0,0.496094) 0 0 50px;-webkit-box-shadow:rgba(0,0,0,0.496094) 0 0 50px;}
li.hover .children{display:block;}
#tree	.children li{display:block;margin:0;padding:15px 10px;}

#user_nav{float:right;font-size:12px;}
#logged_out a{color:#fff;}

.field{border:1px solid #c8c8c8;font-size:13px;color:#333;line-height:13px;margin-bottom:20px;width:360px;padding:8px;}

fieldset{font-size:12px;margin:20px 0;padding:10px;}
label.message{background:url(../images/admin/stop.png) no-repeat left 60%;font-size:15px;font-weight:italic;color:#BF3225;padding:10px 0 10px 40px;position:absolute;right:0px;top:-30px;}
legend{font-size:16px;font-weight:700;}
fieldset table{margin:0 auto;}
input.labelhighlight,textarea.labelhighlight{color:#A7A7A7;}
form p,form div{position:relative;}
form p{position:relative;width:376px;}
label.error{text-align:right;position:absolute;right:0;top:0;color:red;}
input.error,textarea.error{color:red;background:#632112;}
.fieldwitherrors{display:inline;}

#errorexplanation{width:400px;border:2px solid #CF0000;margin-bottom:20px;background-color:#f0f0f0;padding:0 0 12px;}
#errorexplanation h2{text-align:left;font-weight:700;font-size:12px;background-color:#c00;color:#fff;margin:0;padding:5px 5px 5px 15px;}
#errorexplanation p{color:#333;margin-bottom:0;padding:8px;}
#errorexplanation ul{margin:2px 24px;}
#errorexplanation ul li{font-size:12px;list-style:disc;}
#flash_notice,#flash_error,#status{text-align:center;font-size:15px;line-height:3em;overflow:hidden;position:fixed;left:0;top:0;width:100%;z-index:50000;filter:alpha(opacity=95);-moz-opacity:.95;opacity:.95;border-bottom:solid 1px #000;-moz-box-shadow:0 15px 55px rgba(0,0,0,0.5);-webkit-box-shadow:0 15px 55px rgba(0,0,0,0.5);margin:0;padding:5px;}
#flash_notice,#status{background-color:#CFC;border:solid 1px #6C6;}
#flash_error{background-color:#FCC;border:solid 1px #C66;}
