html{ background: #434C5B; font-family:Helvetica,Verdana,Helvetica,Arial;font-size:13px;text-align:justify;}
a img{border:none;}
a{color:#7E8182;-webkit-transition:color 300ms ease-out 200ms;-moz-transition:color 300ms ease-out 200ms;-o-transition:color 300ms ease-out 200ms;transition:color 300ms ease-out 200ms;}
a:hover{color:#000;-webkit-transition:color 300ms ease-in 200ms;-moz-transition:color 300ms ease-in 200ms;-o-transition:color 300ms ease-in 200ms;transition:color 300ms ease-in 200ms;}

	#container{ padding: 20px; background: #D2D9E5; border: 1px solid #858585; width:380px; text-align:center; }
		#container{-moz-box-shadow:rgba(0,0,0,0.496094) 0px 20px 50px;-webkit-box-shadow:rgba(0,0,0,0.496094) 0px 20px 50px;}
		#header{ background: #333A49; overflow: hidden; border: 1px solid #283143; }
			.logo{ padding: 10px; float: right; }
			
		.field{text-align:center;border:1px solid #c8c8c8;font-size:13px;color:#333333;line-height:13px;padding:8px;margin-bottom:20px;width:360px;}
		
		#flash_notice,#flash_error,#status{text-align:center;padding:5px;margin:0;font-size:15px;line-height:3em;overflow:hidden;position:fixed;left:0px;top:0px;width:100%;z-index:50000;filter:alpha(opacity=95);-moz-opacity:.95;opacity:.95;border-bottom:solid 1px #000;-moz-box-shadow:0 15px 55px rgba(0,0,0,0.5);-webkit-box-shadow:0 15px 55px rgba(0,0,0,0.5);}
		#flash_notice,#status{background-color:#CFC;border:solid 1px #6C6;}
		#flash_error{background-color:#FCC;border:solid 1px #C66;}
		.fieldWithErrors{display:inline;}
		#errorExplanation{margin: 10px auto 0 auto;border:2px solid #CF0000;padding:5px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0;}
		#errorExplanation h2{text-align:center;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:0;background-color:#c00;color:#fff;}
		#errorExplanation p{color:#333;margin-bottom:0;padding:8px;}
		#errorExplanation ul{margin:2px 24px;}
		#errorExplanation ul li{font-size:12px;list-style:none;}
